.form-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: 90%;
  max-width: 400px;
  min-width: 220px;
  border-radius: 20px;
  border: 3px solid var(--secondary-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-color: var(--main-bg);
  animation: softPopIn 0.4s ease forwards;
  opacity: 0;
  padding: 3vh 2vw;
}

form > p {
  text-align: center;
  font-size: 1.3rem;
}

label {
  text-align: center;
  font-size: 1.2rem;
  margin: 0.3rem 0;
}

form > input,
select {
  border: 0.2rem solid var(--secondary-color);
  border-radius: 150px;
  padding: 0.3rem 2rem;
  font-size: 1rem;
  text-align: center;
}

textarea {
  border: 0.2rem solid var(--secondary-color);
  border-radius: 20px;
  padding: 0.3rem 2rem;
  font-size: 1rem;
  text-align: center;
  resize: none;
  margin-bottom: 0.3rem;
}

option {
  text-align: center;
  color: var(--secondary-color);
}

form > input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.form-btn {
  font-size: 1rem;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  color: var(--bg-color);
  padding: 1vh 2vw;
  cursor: pointer;
}

.form-btn:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

@keyframes softPopIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
