.form-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vh;
  padding: 2vh 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: 90%;
  max-width: 400px;
  min-width: 220px;
  border-radius: 20px;
  border: 3px solid var(--primary-color);
  padding: 3vw 5vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  background-color: var(--main-bg);
  box-sizing: border-box;
}


form > p {
    text-align: center;
    font-size: 1.3rem;
}

label {
    text-align: center;
    font-size: 1.2rem;
}

form > input {
  border: 0.2rem solid var(--secondary-color);
  border-radius: 150px;
  padding: 0.3rem 2rem;
  font-size: 1rem;
  text-align: center;
}

form > input:focus {
  outline: none;
  border-color: var(--primary-color);
}
