.recipe-details-container {
  display: flex;
  padding: 2vh 5%;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  animation: softPopIn 0.4s ease forwards;
  opacity: 0;
}

.logo-recipe-nav-bar {
  max-width: 120px;
  min-width: 50px;
}

.recipe-image {
  width: 40vh;
  border: 0.3rem solid var(--secondary-color);
  border-radius: 12px;
  height: 55vh;
}

.recipe-image,
.name-recipe {
  margin-bottom: 0.5rem;
}

.name-recipe {
  color: var(--primary-color);
  font-size: 2rem;
  width: 40vh;
}

.recipe-summary {
  width: 45vh;
  margin-bottom: 0.5rem;
}

.recipe-star {
  color: var(--primary-color);
  font-size: 1.2rem;
}

.recipe-summary-star {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.text {
  color: var(--bg-color);
  font-size: 1rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 12px;
  margin-bottom: 0.4rem;
  padding: 0 0.7rem;
  width: fit-content;
}

.ingredients-text,
.ingredients-ul,
.tools-ul {
  margin-bottom: 1rem;
}

.ingredients-ul,
.tools-ul,
.instructions-ul {
  margin-left: 2vh;
  width: 50vh;
}

.bx-star {
  color: var(--primary-color);
}

.favorite-star {
  color: var(--primary-color);
}

.recipe-summary {
  font-weight: 500;
}

.credits-recipe {
  margin-top: 1rem;
  text-align: center;
  color: var(--secondary-color);
}

.credits-recipe a {
  color: var(--primary-color);
  text-decoration: none;
}

.delete-edit-btns {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 40vw;
}

.delete-recipe-btn,
.edit-recipe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  border-radius: 12px;
  background-color: var(--accent-color);
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  color: var(--bg-color);
}

@keyframes softPopIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
