.recipe-lists {
  padding: 0 6%;
}

.filters {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5vh;
}

.filter-btn {
  color: var(--accent-color);
  background-color: var(--bg-color);
  cursor: pointer;
  border: 0.1rem solid var(--accent-color);
  border-radius: 10px;
  padding: 0 1rem;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.filter-btn:hover {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.selected {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.hide {
  display: none;
}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vh;
  padding: 3vh 0;
}

.recipe-card {
  width: 30vh;
  height: 45vh;
  border: 0.4rem solid var(--secondary-color);
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  padding: 1vh 1.5vh;
  position: relative;
  cursor: pointer;
}

.recipe-card:hover {
  box-shadow: 0 0 10px var(--primary-color);
}

.bx-star {
  color: var(--bg-color);
  font-size: 1.9rem;
  cursor: pointer;
}

.recipe-star-category {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  right: 0;
}

.category {
  color: var(--bg-color);
  background-color: var(--primary-color);
  padding: 0 0.7rem;
  border-radius: 2rem;
}

.recipe-name {
  color: var(--bg-color);
  font-size: 1rem;
  background-color: var(--primary-color);
  width: 20vh;
  padding: 0.5vh 2vh;
  border-radius: 1rem;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}


.favorite-star-recipe-list::before {
  color: var(--bg-color);
  font-size: 2rem;
}
